.landing {
    width: 100%;
}
.landing>.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.landing>.navbar>.log-in{
    margin: 1% 2%;
}

.landing>.main {
    width: 100%;
    /* margin: 2% 0%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.landing>.main>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: #ffdd59;
    width: 98%;
    border: 0 1vw white solid;
}
.landing>.main>.container>.web-intro {
    padding: 4%;
    width: 50%; 
}
.landing>.main>.container>.graphics {
    width: 50%;
}
.landing>.main>.container>.graphics {
    background: white;
}
.landing>.main>.container>.graphics>img {
    width: 100%;

}
.landing>.main>.container>.web-intro>.line {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.landing>.main>.container>.web-intro>.interest>div>input[type="checkbox"] {
    display: none;
}

.landing>.main>.container>.web-intro>.interest>div>input[type="checkbox"]+label {
    display: inline-block;
    background-color: #f1f2f6;
    border-radius: 25px;
    cursor: pointer;
    padding: 7px 11px;
    margin: 5px 5px 5px 0;
}

.landing>.main>.container>.web-intro>.interest>div>input[type="checkbox"]:checked+label {
    background-color: #ffd32a;
}

.landing>.main>.container>.tag {
    background-color: white;
    padding: 0 2%;
}
.landing>.main>.container>.interest-intro {
    background-color: #ffdd59;
    padding: 0 2%;
}
.landing>.sign-up {
    position: fixed;
    top: 15vh;
    max-height: 80vh;
    left: 27%;
    width: 35%;
    margin : 3%; 
    background-color: white;
    border-radius: 5px;
    padding: 3%;
    /* text-align: center; */

}
.landing>.sign-up>.line {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.landing>.sign-up>.line>.close-button {
    width: 40px;
}
.landing>.log-in {
    position: fixed;
    top: 15vh;
    max-height: 80vh;
    left: 27%;
    width: 35%;
    margin : 3%; 
    background-color: white;
    border-radius: 5px;
    padding: 3%;
    /* text-align: center; */
}
.landing>.log-in>.line {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.landing>.log-in>.line>.close-button {
    width: 40px;
}
.landing>.main>.footer {
    margin: 2%;
    text-align: center;
}

@media (max-width: 1400px) { 
    .landing>.main>.container>.web-intro {
        padding: 4%;
        width: 50%; 
    }
    .landing>.main>.container>.graphics {
        width: 50%;
    }
    .landing>.main>.container>.graphics>img {
        /* width: 100%; */
        height: 50vw;
        /* border: 1% white solid; */
        object-fit: cover;
    }
}
@media (max-width: 700px) {
    .landing>.main {
        width: 100%;
        display: block;
        /* justify-content: center;
        align-items: center; */
    }
    .landing>.main>.container {
        width: 100%;
        flex-wrap: wrap;
    }
    .landing>.main>.reverse {
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    .landing>.main>.container>.web-intro {
        border: 1vw white solid;
        width: 90%;
    }
    .landing>.main>.container>.graphics{
        border: 1vw white solid;
        width: 100%;
 
    }
    .landing>.main>.container>.graphics>img {
        width: 100%;
        height: auto;
        /* object-fit: none; */
    }
}