.account {
    width: 100%;
    /* background: #63cdda; */
}

.account>.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63cdda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.account>.navbar>.logo {
    margin: 1% 2%;
    display: inline-flex;
    align-items: center;
}

.account>.navbar>.log-in {
    margin: 1% 2%;
}

.account>.navbar>.logo>.logo-img {
    height: 40px;
    width: 40px;
}

.account>.main {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account>.main>.view {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.account>.main>.view>.setting-1 {
    padding: 3%; 
    width: 50%;
}

.account>.main>.view>.setting-2 {
    padding: 3%; 
    width: 50%;
}

.account>.main>.view>.setting-1>.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account>.main>.view>.setting-1>.upload>.border {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 1px lightgray solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account>.main>.view>.setting-1>.upload>.border>.avatar {
    width: 200px;
    height: 200px;
    background-color: #f1f2f6;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account>.main>.view>.setting-1>.line {
    display: inline-flex;
    align-items: center;
}

.account>.main>.view>.setting-2>.line {
    display: inline-flex;
    align-items: center;
}

.account>.main>.view>.setting-2>.interest {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.account>.main>.view>.setting-2>.interest>div>input[type="checkbox"] {
    display: none;
}

.account>.main>.view>.setting-2>.interest>div>input[type="checkbox"]+label {
    display: inline-block;
    background-color: #f1f2f6;
    border-radius: 25px;
    cursor: pointer;
    padding: 8px 12px;
    margin: 5px;
}

.account>.main>.view>.setting-2>.interest>div>input[type="checkbox"]:checked+label {
    background-color: #ffd32a;
}