.account {
    width: 100%;
    /* background: #63cdda; */
}
.account>.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63cdda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.account>.navbar>.logo {
    margin: 1% 2%;
    display: inline-flex;   
    align-items: center;
}
.account>.navbar>.log-in{
    margin: 1% 2%;
}
.account>.navbar>.logo>.logo-img {
    height: 40px;
    width: 40px;
}
.account>.main {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}
.account>.main>.display {
    padding: 4%; 
    width: 22%;
    text-align: center;
}

.account>.main>.setting {
    padding: 4% 4% 4% 0%;
    width: 57%;
}
.account>.main>.display>.avatar {
    width: 135px;
}
.account>.main>.setting>.line {
    display: inline-flex;   
    align-items: center;
}

