.home {
    width: 100%;
    /* background: whitesmoke; */
}
.home>.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63cdda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home>.navbar>.logo {
    margin: 1% 2%;
    display: inline-flex;   
    align-items: center;
}
.home>.navbar>.log-in{
    margin: 1% 2%;
}
.home>.navbar>.logo>.logo-img {
    height: 40px;
    width: 40px;
}
.home>.navbar>.member-navbar {
    width: 35%;
    /* margin: 1% 2%; */
}
.home>.navbar>.member-navbar>ul {
    display: flex;   
    align-items: center;
    justify-content:space-around;
    list-style: none;
}
.home>.navbar>.member-navbar>ul>li>button{
    min-width: 110px;
}
.home>.main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.home>.main>.container{
    width: 80%;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home>.main>.container>.friend-box{
    margin: 1%;
    padding: 1%;
    width: 20%;
    text-align: center;
    /* background: white; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.home>.main>.container>.friend-box>.avatar{
    vertical-align: middle;
    border-radius: 50%;
    border: 1px #ffd32a solid;
    width: 80px;
    height: 80px;
    margin: 1%;
    text-align: center;
}

@media (max-width: 500px) {
    .home>.main>.container{
        width: 98%;
        margin: 1%;
    }
    .home>.main>.container>.friend-box{
        margin: 2%;
        padding: 1%;
        width: 44%;
    }
}