.home {
    width: 100%;
    /* background: whitesmoke; */
}
.home>.main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.home>.main>.sideNav {
    width: 15%;
    padding: 3% 0 0 3%;
    margin: 3%;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    /* position: fixed; */
    height: 100%;
    overflow: auto;
  }
  
  .home>.main>.sideNav>li {
    padding: 2%;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  .home>.main>.sideNav>li>a {
    font-size: 18px;
    padding: 2%;
  }
  /* add active classname */
  .home>.main>.sideNav>li.active {
    background-color: #63cdda;
    color: white;
    /* background-color: #ffd32a; */
  }
  
  .home>.main>.sideNav>li:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
.home>.main>.view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    padding: 2% 5% 0 0;
}
/* .home>.main>.view>h3 {
    width: 100%;
} */
.home>.main>.view>.choose-interest {
    width: 35%;
    padding: 2% 5% 0 0;
}
.home>.main>.view>.container{
    width: 100%;
    padding: 2% 2% 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home>.main>.view>.container>.friend-box{
    margin: 1%;
    padding: 1%;
    width: 20%;
    text-align: center;
    /* background: white; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.home>.main>.view>.container>.friend-box>.avatar{
    vertical-align: middle;
    border-radius: 50%;
    border: 2px #ffd32a solid;
    width: 80px;
    height: 80px;
    margin: 1%;
    text-align: center;
}
.home>.main>.view>.show-card{
    position: fixed;
    top: 80px;
    background-color: white;
    width: 40%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 2%;
    border: 3px
}
.home>.main>.view>.show-card>.center>.avatar{
    vertical-align: middle;
    border-radius: 50%;
    border: 2px #ffd32a solid;
    width: 80px;
    height: 80px;
    margin: 1%;
    text-align: center;
}
.home>.main>.view>.show-card>.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home>.main>.view>.show-card>.container>.container1 {
    display: flex;
    width: 50%;
}
.home>.main>.view>.show-card>.container>.container2 {
    display: flex;
    width: 50%;
}
.home>.main>.view>.show-card>.center {
    text-align: center;
}
.home>.main>.view>.show-card>.container>.go-back {
    display: inline-flex;
    align-items: center;
}
.home>.main>.view>.confirm-friend {
    padding: 4%; 
    width: 22%;
    text-align: center;
}
.home>.main>.view>.display>.avatar {
    width: 150px;
}
.home>.main>.view>.confirm-friend>.confirm-box {
    display: inline-flex;
    margin: 2%;
}
.home>.main>.view>.confirm-friend>.confirm-box>.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home>.main>.view>.confirm-friend>.confirm-box>.avatar {
    width: 90px;
}
.home>.main>.view>.MuiAutocomplete-root {
    width: 300px;
}
@media (max-width: 500px) {
    .home>.main>.view>.container{
        width: 98%;
        margin: 1%;
    }
    .home>.main>.view>.container>.friend-box{
        margin: 2%;
        padding: 1%;
        width: 44%;
    }
}