.home {
    width: 100%;
    /* background: #63cdda; */
}
.home>.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63cdda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home>.navbar>.logo {
    margin: 1% 2%;
    display: inline-flex;   
    align-items: center;
}
.home>.navbar>.log-in{
    margin: 1% 2%;
}
.home>.navbar>.logo>.logo-img {
    height: 40px;
    width: 40px;
}
.home>.navbar>.member-navbar {
    width: 35%;
    /* margin: 1% 2%; */
}
.home>.navbar>.member-navbar>ul {
    display: flex;   
    align-items: center;
    justify-content:space-around;
    list-style: none;
}
.home>.navbar>.member-navbar>ul>li>button{
    min-width: 110px;
}