.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffdd59;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.navbar>.logo {
    margin: 3px 25px;
    display: inline-flex;
    align-items: center;
}

.navbar>.logo>.logo-img {
    height: 35px;
    width: 35px;
}

.navbar>.dropdown>.member-navbar {
    width: 25%;
}

.navbar>.dropdown>.member-navbar>ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.dropdown-content>li {
    padding: 0 25px;
}

@media (max-width: 650px) {
    .navbar {
        flex-wrap: wrap;
    }
    .logo {
        width: 100vw;
    }
    .navbar>.dropdown {
        background: #f1f1f1;
        width: 100vw;
    }
    .navbar>.dropdown>.member-navbar {
        width: 100%;
    }
    .dropdown-content {
        display: flex;
        justify-content:space-between;
    }
}