html, body {
	margin:0px;
}
body {
	font-size:16px;
	font-family:"Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
	color:#3f3a3a;
}
form {
	margin:0px;padding:0px;
}
a {
	text-decoration:none;color:inherit;
}
input,select,img {
	vertical-align:middle;
}


.key-in {
    font-size: 16px;
    flex: auto;
    border: 1px solid gray;
    width: 100%;
    border-radius: 3px;
    height: 40px;
    margin: 2% 0%;
}

button {
    font-size: 16px;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 12px 20px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    /* background-color: #ffd32a; */
    background-color: #546de5;
    /* background-color: black; */
    margin: 2%;
    border-radius: 5px;
  }
  
button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-button{
  text-align: center;
}

.loading {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 75px);
  text-align: center;
}
.loading>img {
  width: 150px;
  height: auto;
}