/* global */

.box-bottom {
    border-bottom: 1px solid lightgray;
}

.message {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: #63cdda; */
}

.message>.main {
    width: 100%;
    /* height: 90%; */
    height: calc(100vh - 70px);
    display: flex;
}

.message>.main>.chat-room {
    width: 330px;
    max-height: 100%;
    overflow-y: scroll;
    /* display: flex;
    align-content: center; */
}

.message>.main>.chat-room>.chat-box>input[type="radio"] {
    display: none;
}

.message>.main>.chat-room>.chat-box>input[type="radio"]+label {
    cursor: pointer;
}

.message>.main>.chat-room>.chat-box>input[type="radio"]+label:hover {
    background-color: #f1f2f6;
}

.message>.main>.chat-room>.chat-box>input[type="radio"]:checked+label {
    background-color: #f1f2f6;
}

.message>.main>.chat-room>.my-chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message>.main>.chat-room>.my-chat>.center>.avatar {
    vertical-align: middle;
    border-radius: 50%;
    border: 2px white solid;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.message>.main>.chat-room>.chat-box {
    margin: 1%;
    width: 98%;
    min-height: 60px;
}

.message>.main>.chat-room>.chat-box>label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.message>.main>.chat-room>.chat-box>label>.avatar {
    vertical-align: middle;
    border-radius: 50%;
    border: 2px white solid;
    width: 50px;
    height: 50px;
    margin: 3%;
    /* flex: none; */
}

.message>.main>.chat-room>.chat-box>label>.container {
    width: calc(80% - 50px);
    /* flex: auto; */
}
.message>.main>.chat-room>.chat-box>label>.fake-avatar {
    border-radius: 50%;
    border: 2px gray dashed;
    width: 50px;
    height: 50px;
    margin: 3%;
}
.message>.main>.chat-room>.chat-box>label>.fake-container {
    width: calc(80% - 50px);
    border: 2px gray dashed;
    height: 50px;
    border-radius: 20px;
}

.message>.main>.chat-room>.chat-box>label>.container>.word {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: grey;
    font-size: 14px;
}

.message>.main>.conversation {
    width: 80%;
    /* padding: 1%; */
    font-size: 18px;
}

.message>.main>.conversation>.toolbar {
    height: 68px;
}

.message>.main>.conversation>.center>.avatar {
    vertical-align: middle;
    border-radius: 50%;
    border: 2px white solid;
    width: 50px;
    height: 50px;
    margin: 1%;
}

.message>.main>.conversation>.talks {
    overflow-y: scroll;
    /* max-height: 86%; */
    height: calc(90% - 77px);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.message>.main>.conversation>.input-box {
    height: 10%;
    width: 100%;
}

.message>.main>.headerDivider {
    border-left: 1px solid lightgray;
    height: 100%;
}

.message>.main>.conversation>.talks>.adm-dialog {
    font-size: 14px;
    color: gray;
    text-align: center;
}

/* need to fix: long message use div, short message use span */

.message>.main>.conversation>.talks>.fri-dialog {
    /* text-align: left; */
    display: flex;
    justify-content: flex-start;
    margin: 0.5% 0% 0.5% 0.5%;
}

.message>.main>.conversation>.talks>.my-dialog {
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    margin: 0.5% 0.5% 0.5% 0%;
}

.message>.main>.conversation>.talks>.fri-dialog>div {
    width: 60%;
    padding: 1% 2%;
    background-color: #ffd32a;
    border-radius: 20px;
    font-size: 16px;
  
}

.message>.main>.conversation>.talks>.my-dialog>div {
    width: 60%;
    padding: 1% 2%;
    background-color: #f1f2f6;
    border-radius: 20px;
    font-size: 16px;

}

.message>.main>.conversation>.input-box>form {
    border: 2px solid #ffd32a;
    width: 96%;
    border-radius: 30px;
    height: 50px;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message>.main>.conversation>.input-box>form>textarea:focus, input:focus {
    outline: none;
}

.message>.main>.conversation>.input-box>form>.input-message {
    width: calc(95% - 40px);
    border-radius: 30px;
    border: none;
    height: 40px;
    color: grey;
    font-size: 16px;
}

.message>.main>.conversation>.input-box>form>.input-click {
    width: 40px;
    height: auto;
}

.message>.main>.conversation>.center>.arrow-back {
    display: none;
}

/* .message>.main>.pick-friend {
    padding: 1%; 
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid gray;
    height: 100%;
}
.message>.main>.pick-friend>.pick-box {
    display: inline-flex;  
    height: 80px;
}
.message>.main>.pick-friend>.pick-box>.avatar {
    width: 60px;
} */

@media (max-width: 650px) {
    .message>.main {
        width: 100%;
        display: block;
        /* justify-content: center;
        align-items: center; */
    }
    .message>.main>.chat-room {
        padding: 2% 2% 0 2%;
        width: 96%;
        height: calc(100vh - 120px);
    }
    .message>.main>.conversation {
        padding: 0 2% 2% 2%;
        width: 96%;
        height: 100vh;
    }
    .message>.main>.headerDivider {
        display: none;
    }
    .message>.main>.conversation>.center>.arrow-back {
        display: block;
    }
}